.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 20vh;
  }
  
  
  .title {
    text-transform: uppercase;
    color: white;
    letter-spacing: 1vh;
    font-weight: 500;
    font-size: 5vh;
    text-align: center;
  }
  
  .text {
    text-align: center;
    font-size: 2vh;
    letter-spacing: 0.25vh;
  }

  .gif {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }