.hamburger-container {
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 1000;
    display: inline-block;
    max-width: 80vw;
  }
  
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 3;
}

.bar {
  height: 4px;
  width: 100%;
  background-color: white;
  border-radius: 2px;
  z-index: 3;
}

.hitbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: transparent;
  margin: 5px;
  pointer-events: none;
}

.menu {
  position: absolute;
  top: -10px;
  right: -10px;
  gap: 1rem;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.8);
  clip-path: circle(0% at top right);
  pointer-events: none;

  /* display: grid; */
  /* grid-template-columns: max-content auto; */

  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 1rem; */
  padding-bottom: 1rem;
  min-width: 30rem;

  transition:
    opacity 0.2s ease,
    transform 0.2s cubic-bezier(.68,-0.55,.27,1.55),
    clip-path 0.2s ease, 
    visibility 0s linear 0.2s;
}

.hamburger-container:hover .menu, .menu:hover {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  clip-path: circle(150% at top right);
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  flex-direction: column;
  border-radius: 10px;
  z-index: 1000;
  overflow: hidden;
  pointer-events: auto;

  transition:
    opacity 0.2s ease,
    transform 0.2s cubic-bezier(.68,-0.55,.27,1.55),
    clip-path 0.2s ease,
    visibility 0s;  
}

.menu a {
  padding: 10px 15px;
  /* padding-right: 100px; */
  gap: 1rem;
  text-decoration: none;
  z-index: 2;
  background-color: transparent;
}

.menu a:hover {
  color: #aaaaaa;          
  background-color: transparent;
}

.menu-section {
  display: contents;
  flex-direction: row;
  margin: 5px 0;
  align-items: center;
  gap: 1rem;
}

.menu-links {
  display: flex;
  flex-direction: column;
}

.menu-category-text {
  font-weight: bold;
  color: white;
  flex-shrink: 0;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 3vh;
  white-space: nowrap;
}

.menu-text {
  font-weight: bold;
  color: white;
  flex-shrink: 0;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 3vh;
  white-space: nowrap;
}

@media (orientation: portrait) {
  .menu {
    position: absolute;
    top: -10px;
    right: -10px;
    gap: 1rem;
    width: calc(100vw - 30px);
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);
    clip-path: circle(0% at top right);
    pointer-events: none;
    /* display: grid; */
    /* grid-template-columns: max-content auto; */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    min-width: 0;

    transition:
      opacity 0.2s ease,
      transform 0.2s cubic-bezier(.68,-0.55,.27,1.55),
      clip-path 0.2s ease, 
      visibility 0s linear 0.2s;
  }
}